<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form Insert User</title>
</head>
<body>
  <h3>Create User</h3>
  <form action="/user/new" method="post">
    Username :
    <input name="name" type="text" value="{{ oldValue.name }}"><br>
    <p style="color: red;">{{ errorMessage.name }}</p>
     Password :
    <input name="password" type="password" value="{{ oldValue.password }}"><br><br>
     Email :
    <input name="email" type="text" value="{{ oldValue.email }}"><br><br>
     Date of Birth :
    <input name="date_of_birth" type="date" value="{{ oldValue.date }}"><br><br>
    <button type="submit">Insert</button>
  </form>
</body>
</html>