{{!< ./layout/default}}

<{{#contentFor 'body'}}

  <h3>Create User</h3>
  <form action="/user/new" method="post">
    Username :
    <input name="name" type="text" value="{{ data.name.value }}"><br>
    {{#if data.name.error }}
      <p style="color: red;">{{ data.name.error }}</p>
    {{/if}}

     Password :
    <input name="password" type="password" value="{{ data.password.value }}"><br>
    {{#if data.password.error }}
      <p style="color: red;">{{ data.password.error }}</p>
    {{/if}}

     Email :
    <input name="email" type="text" value="{{ data.email.value }}"><br>
    {{#if data.email.error }}
      <p style="color: red;">{{ data.email.error }}</p>
    {{/if}}

     Date of Birth :
    <input name="date_of_birth" type="date" value="{{ data.date.value }}"><br>
    {{#if data.date_of_birth.error }}
      <p style="color: red;">{{ data.date_of_birth.error }}</p>
    {{/if}}

    <button type="submit">Insert</button>
  </form>

{{/contentFor}}